<form (ngSubmit)="getDirectories()">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
    <div>
      <mat-slider disabled  [thumbLabel]="true" [displayWith]="formatSliderLabel" matTooltip="number of folders to display"
        [(ngModel)]="TopCount" name="TopCount" tickInterval="1" min="5" max="10"></mat-slider>
    </div>


    <mat-form-field style="min-width: 300px;">
      <input matInput [(ngModel)]="formModel.DirectoryPath" required name="DirectoryPath" placeholder="Please enter directory to search">
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary">Get Top Folders</button>
    </div>
  </div>
</form>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">   
  <app-directorylist [directories]="directoryList" [topCount]="formModel.TopCount"></app-directorylist>
  <app-directorycompositionchart [directories]="directoryList" [topCount]="formModel.TopCount"></app-directorycompositionchart>
</div>

<div *ngIf="errorMsg!==''" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="35px">
  <h3 style="color:red;font-weight: bold">{{errorMsg}}</h3>
</div>