<div *ngIf="directories">
  <mat-list>
    <h3 mat-subheader>Top {{topCount}} Folders</h3>
    <mat-list-item *ngFor="let directory of directories">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{directory?.FolderName}}</h4>
      <p mat-line> {{directory?.Size}} {{directory?.SizeUnit}} </p>
    </mat-list-item>
  </mat-list>
</div>